:root {
    /* TEMA DI DEFAULT - MINT FRESCO */
    --bg-color: #d2fff0;
    --text-color: #1e3f36;
    --primary: #60e6b8;
    --card-bg: #eafff9;
    --hover-bg: #93f2cf;
    --hover-text: #002e25;
    --border-color: #48cfa1;
    --shadow-color: rgba(72, 207, 161, 0.3);
    --link-color: #227a65;
    --button-bg: #60e6b8;
    --button-text: #1e3f36;
}

body[data-theme="theme-pastel"] {
    --bg-color: #e7fce1;
    --text-color: #2e3b1d;
    --primary: #8dc78a;
    --card-bg: #f0fdf4;
    --hover-bg: #a3d9a5;
    --hover-text: #1c2b10;
    --border-color: #77b377;
    --shadow-color: rgba(100, 150, 100, 0.3);
    --link-color: #406030;
    --button-bg: #8dc78a;
    --button-text: #2e3b1d;
}

body[data-theme="theme-neon"] {
    --bg-color: #0d0f0c;
    --text-color: #b4ff00;
    --primary: #00ff00;
    --card-bg: #1a1f1a;
    --hover-bg: #00ff00;
    --hover-text: #000000;
    --border-color: #00ff00;
    --shadow-color: rgba(0, 255, 0, 0.6);
    --link-color: #66ff66;
    --button-bg: #00ff00;
    --button-text: #000000;
}

